<mat-tab-group>
  <mat-tab label="VM">
    <ng-template matTabContent>
      <mat-accordion>
        <mat-toolbar>
          <button mat-raised-button routerLink="/dashboard/vm/create">VM作成</button>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <div class="right">
            <p>全VM数: </p>
          </div>
        </mat-toolbar>
        <mat-card class="card">
          <mat-card-header>
            <mat-chip-list aria-label="Fish selection">
              <mat-chip color="primary" selected>起動中</mat-chip>
              <!--    <mat-chip color="accent" selected>停止中</mat-chip>-->
            </mat-chip-list>
            <mat-card-title>vm-test</mat-card-title>
            <mat-card-subtitle>Otaku</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              <mat-icon>cloud</mat-icon>
              Node1
              &nbsp;&nbsp;&nbsp;
              <mat-icon>developer_board</mat-icon>
              2Core
              &nbsp;&nbsp;&nbsp;
              <mat-icon>memory</mat-icon>
              1024M
              &nbsp;&nbsp;&nbsp;
              <mat-icon>storage</mat-icon>
              20G
              &nbsp;&nbsp;&nbsp;
              <mat-icon>settings_ethernet</mat-icon>
              br1100
            </p>
          </mat-card-content>

          <mat-card-actions>
            <button mat-button>詳細</button>
            <button mat-button>コンソール</button>
          </mat-card-actions>
        </mat-card>

      </mat-accordion>
    </ng-template>
  </mat-tab>

  <mat-tab label="Storage">
    <ng-template matTabContent>
      <mat-accordion>
        <mat-card class="card">
          <mat-card-header>
            <mat-chip-list aria-label="Fish selection">
              <mat-chip color="primary" selected>マウント中</mat-chip>
              <!--    <mat-chip color="accent" selected>アンマウント中</mat-chip>-->
            </mat-chip-list>
            <mat-card-title>vm-test</mat-card-title>
            <mat-card-subtitle>Otaku</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              <mat-icon>cloud</mat-icon>
              Node1
              &nbsp;&nbsp;&nbsp;
              <mat-icon>storage</mat-icon>
              SSD 20G
              &nbsp;&nbsp;&nbsp;
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>詳細</button>
          </mat-card-actions>
        </mat-card>

      </mat-accordion>
    </ng-template>
  </mat-tab>

  <mat-tab label="Network">
    <ng-template matTabContent>
      <mat-accordion>
        <mat-card class="card">
          <mat-card-header>
            <mat-chip-list aria-label="Fish selection">
              <mat-chip color="primary" selected>接続中</mat-chip>
              <!--    <mat-chip color="accent" selected>アンマウント中</mat-chip>-->
            </mat-chip-list>
            <mat-card-title>vm-test</mat-card-title>
            <mat-card-subtitle>Otaku</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              <mat-icon>cloud</mat-icon>
              Node1
              &nbsp;&nbsp;&nbsp;
              <mat-icon>developer_board</mat-icon>
              2Core
              &nbsp;&nbsp;&nbsp;
              <mat-icon>memory</mat-icon>
              1024M
              &nbsp;&nbsp;&nbsp;
              <mat-icon>storage</mat-icon>
              20G
              &nbsp;&nbsp;&nbsp;
              <mat-icon>settings_ethernet</mat-icon>
              br1100
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>詳細</button>
          </mat-card-actions>
        </mat-card>

      </mat-accordion>
    </ng-template>
  </mat-tab>
</mat-tab-group>
