<mat-card class="card">
  <h2>VM作成</h2>
  <mat-vertical-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="nodeFormGroup">
      <form [formGroup]="nodeFormGroup">
        <ng-template matStepLabel>Nodeの選択</ng-template>
        <mat-form-field>
          <mat-label>Node</mat-label>
          <mat-select formControlName="node" required>
            <ng-container *ngFor="let n of nodes">
              <mat-option value="{{n.id}}">{{n.id}}</mat-option>
            </ng-container>
          </mat-select>
          <!--          <input matInput placeholder="TestVM" formControlName="firstCtrl" required>-->
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="nameFormGroup">
      <form [formGroup]="nameFormGroup">
        <ng-template matStepLabel>VMの名前</ng-template>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" placeholder="TestVM" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="groupFormGroup">
      <form [formGroup]="groupFormGroup">
        <ng-template matStepLabel>VMの所属グループの選択</ng-template>
        <mat-form-field>
          <mat-label>Group</mat-label>
          <mat-select formControlName="group" required>
            <ng-container *ngFor="let g of groups">
              <mat-option value="{{g.name}}">{{g.name}}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="cpuFormGroup">
      <form [formGroup]="cpuFormGroup">
        <ng-template matStepLabel>CPUの選択</ng-template>
        <mat-form-field>
          <mat-label>CPU</mat-label>
          <mat-select formControlName="cpu" required>
            <ng-container *ngFor="let c of cpus">
              <mat-option value="{{c.spec}}">{{c.spec}}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="memoryFormGroup">
      <form [formGroup]="memoryFormGroup">
        <ng-template matStepLabel>Memoryの選択</ng-template>
        <mat-form-field>
          <mat-label>Memory</mat-label>
          <mat-select formControlName="memory" required>
            <ng-container *ngFor="let m of memorys">
              <mat-option value="{{m.size}}">{{m.size}}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="storageTypeFormGroup">
      <form [formGroup]="storageTypeFormGroup">
        <ng-template matStepLabel>Storage Typeの選択</ng-template>
        <mat-form-field>
          <mat-label>Storage</mat-label>
          <mat-select formControlName="storagetype" required>
            <ng-container *ngFor="let s of storages">
              <mat-option value="{{s.type}}">{{s.type}}:{{s.name}}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="storageSizeFormGroup">
      <form [formGroup]="storageSizeFormGroup">
        <ng-template matStepLabel>Storage Sizeの選択</ng-template>
        <mat-form-field>
          <mat-label>StorageSize</mat-label>
          <mat-select formControlName="storagesize" required>
            <ng-container *ngFor="let s of storageSizes">
              <mat-option value="{{s.size}}">{{s.size}}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="imageFormGroup">
      <form [formGroup]="imageFormGroup">
        <ng-template matStepLabel>Imageの選択</ng-template>
        <mat-form-field>
          <mat-label>Image</mat-label>
          <mat-select formControlName="image" required>
            <ng-container *ngFor="let i of images">
              <mat-option value="{{i.name}}:{{i.tag}}">{{i.name}}:{{i.tag}}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>作成</ng-template>
      <p>作成開始</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
        <button mat-button (click)="create()">作成</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
  <br>
  <br>
  <button mat-stroked-button color="warn" (click)="goBack()">戻る</button>
</mat-card>
