
.card {
  margin: 7px 10px 7px 10px;
}

.right {
  margin-left: auto;
}


.table {
  margin-left: 40px;
  margin-right: 40px;

  td, th, tr {
    border: solid 1px #aaaaaa;
  }

  h3{
    font-size:100%;
    color: #e81f1f;
    background-color: #ffffff;
  }

}


.td {
  background-color: darkgrey;
  border: solid 1px #aaaaaa;
}

.button {
  margin-left: 10px;
}
