<mat-card class="card">
  <mat-card-header>
    <mat-chip-list>
      <mat-chip color="primary" selected>重要</mat-chip>
    </mat-chip-list>
    <mat-card-title>WebUIの変更</mat-card-title>
    <mat-card-subtitle>2020/04/19</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      WebUIの変更
    </p>
  </mat-card-content>
</mat-card>
<mat-card class="card">
  <mat-card-header>
    <mat-chip-list>
      <mat-chip color="warn" selected>メンテナンス</mat-chip>
    </mat-chip-list>
    <mat-card-title>メンテナンスのお知らせ</mat-card-title>
    <mat-card-subtitle>2020/04/19</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      メンテンナンスにより、2日程度サーバを止めます
    </p>
  </mat-card-content>
</mat-card>
