<mat-card class="card">
  <mat-card-header>
    <mat-chip-list aria-label="Fish selection">
      <ng-container *ngIf="vmdata.status == 0">
        <mat-chip color="warn" selected>停止中</mat-chip>
      </ng-container>
      <ng-container *ngIf="vmdata.status == 1">
        <mat-chip color="primary" selected>起動中</mat-chip>
      </ng-container>
    </mat-chip-list>
    <mat-card-title>{{vmdata.name}}</mat-card-title>
    <!--    #1 Issue-->
    <!--    ここにはGroup名を表示予定-->
    <mat-card-subtitle>{{vmdata.id}}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>

  </mat-card-content>


  <mat-card-actions>
    <div class="card">
      <ng-container *ngIf="vmdata.status != 0">
        <button mat-raised-button disabled>起動</button>
      </ng-container>
      <ng-container *ngIf="vmdata.status == 0">
        <button mat-raised-button color="primary" (click)="start()">起動</button>
      </ng-container>
      <ng-container *ngIf="vmdata.status != 1">
        <button mat-raised-button disabled>停止</button>
      </ng-container>
      <ng-container *ngIf="vmdata.status == 1">
        <button mat-button color="warn" [matMenuTriggerFor]="menu">停止</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="shutdown()">シャットダウン</button>
          <button mat-menu-item (click)="stop()">強制終了</button>
        </mat-menu>
      </ng-container>

      <ng-container *ngIf="vmdata.status != 1">
        <button mat-raised-button disabled>再起動</button>
      </ng-container>
      <ng-container *ngIf="vmdata.status == 1">
        <button mat-stroked-button color="primary" [matMenuTriggerFor]="menu">再起動</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="reset()">ハードリセット</button>
          <!--        <button mat-menu-item>再起動</button>-->
        </mat-menu>
      </ng-container>
    </div>

    <a href="{{vmdata.vncurl}}">
      <button mat-raised-button class="button">コンソール</button>
    </a>
    <button mat-flat-button [matMenuTriggerFor]="menu">その他</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="pause()" disabled>一時停止</button>
      <button mat-menu-item (click)="resume()" disabled>再開</button>
    </mat-menu>

    <button mat-raised-button color="warn" (click)="delete()"><b>削除</b></button>
  </mat-card-actions>
</mat-card>
<br>
<div class="table">
  <h2>サーバ情報</h2>
  <table>
    <tr>
      <td class="td"><p>Node</p></td>
      <td>{{vmdata.nodeid}}</td>
      <td class="td"><p>ID</p></td>
      <td>{{vmdata.id}}</td>
    </tr>
    <tr>
      <td class="td"><p>GID</p></td>
      <td>{{vmdata.groupid}}</td>
      <td class="td"><p>AutoStart</p></td>
      <td>{{vmdata.autostart}}</td>
    </tr>
    <tr>
      <td class="td"><p>CPU</p></td>
      <td>{{vmdata.cpu}}CPU</td>
      <td class="td"><p>Memory</p></td>
      <td>{{vmdata.mem}}MB</td>
    </tr>
  </table>
</div>
<br>
<div class="table">
  <h2>ネットワーク情報</h2>
  <table>
    <ng-container *ngFor="let n of netdata">
      <tr>
        <td class="td"><p>Type</p></td>
        <td>
          <ng-container *ngIf="n.type == 0">
            <mat-chip color="primary" selected>E1000</mat-chip>
          </ng-container>
          <ng-container *ngIf="n.type == 1">
            <mat-chip color="primary" selected>VirtIO</mat-chip>
          </ng-container>
        </td>
        <td class="td"><p>Net</p></td>
        <td>{{n.name}}</td>
      </tr>
      <tr>
        <td class="td"><p>MAC</p></td>
        <td colspan="3">{{n.mac}}</td>
      </tr>
    </ng-container>
  </table>
</div>
<br>
<p><b>現在ストレージ情報は未実装です。</b></p>
<div class="table">
  <h2>ストレージ情報</h2>
  <table>
    <ng-container *ngFor="let s of storagedata">
      <tr>
        <td class="td"><p>Type</p></td>
        <td>
          <ng-container *ngIf="s.type == 0">
            <mat-chip color="primary" selected>Standard</mat-chip>
          </ng-container>
          <ng-container *ngIf="s.type == 1">
            <mat-chip color="primary" selected>VirtIO</mat-chip>
          </ng-container>
        </td>
        <td class="td"><p>ID</p></td>
        <td>{{s.id}}</td>
      </tr>
      <tr>
        <td class="td"><p>Name</p></td>
        <td>{{s.name}}</td>

        <td class="td"><p>Capacity</p></td>
        <td>{{s.capacity}}</td>
      </tr>
    </ng-container>
  </table>
</div>

<br>
<button mat-stroked-button class="button" color="warn" (click)="goBack()">戻る</button>


