<mat-card class="login-card">
  <mat-card-header>
    <mat-card-title class="login-title">ログイン</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form (ngSubmit)="loginMail()" class="login-form" #loginForm="ngForm">
      <mat-form-field>
        <mat-label>メールアドレスを入力してください</mat-label>
        <input matInput placeholder="test@axishineno.net" [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>パスワードを入力してください</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">ログイン</button>
    </form>
  </mat-card-content>
</mat-card>

<br>
<br>
<div class="button">
  &nbsp;&nbsp;<button mat-raised-button color="primary" (click)="loginGoogle()">Googleで認証</button>&nbsp;&nbsp;&nbsp;<button
  mat-stroked-button color="primary" (click)="loginTwitter()">Twitterで認証
</button>
</div>
